services:
  mongo:
    image: mongo:7
    container_name: intern-assignment-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=intern-assignment
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: intern-assignment-backend
    ports:
      - "5001:5001"
    environment:
      - NODE_ENV=development
      - PORT=5001
      - MONGO_URI=mongodb://mongo:27017/intern-assignment
      - JWT_SECRET=supersecretjwt
      - JWT_EXPIRES_IN=1d
      - ACCESS_COOKIE_NAME=access_token
      - FRONTEND_ORIGIN=http://localhost:3000
    depends_on:
      - mongo
    networks:
      - app-network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: intern-assignment-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
