PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/intern-assignment
JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=1d
NODE_ENV=development
ACCESS_COOKIE_NAME=access_token
FRONTEND_ORIGIN=http://localhost:3000

